.wishlist-inspire__icon{
  display:flex;
  justify-content: center;
  margin:0;
  padding:0;
}
.wishlist-inspire__icon button {
  background:none;
  border:none;
  padding:0;
  margin:0;
  cursor:pointer;
  display:flex;
  gap:1rem;
  align-items:center;
  color: black;

}