<span style="color:{{ block.settings.colour }}">
  <img src="{{ "wishlist.png" | asset_img_url: '30x' }}" alt="Wishlist Icon" height="30" width="30" loading="lazy">
</span>

{% schema %}
{
  "name": "Wishlist Icon",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Icon Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

